<template>
<div>
  <div>
  <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')'}" >
    <b-row no-gutters>
      <b-col>
        <navigation></navigation>
      </b-col>
    </b-row>
    k<b-row >
    <b-col>
        <search-bar class="mt-5 mb-5" :tags=tags v-on:searchTags=setSearchTags></search-bar>
      </b-col>
    </b-row>
  </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
  <b-container >
    <b-row class="mb-5">
      <b-col cols="10">
        <most-used-topics></most-used-topics>
      </b-col>
    </b-row>
    <b-row class="mb-5">
      <b-col cols="3">
        <data-set-info :id=id></data-set-info>
      </b-col>
    </b-row>
  </b-container>
  </div>
</div>
</template>

<script>
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import DataSetInfo from '@/components/DataSetInfo';
export default {
  name: "DataSetPage",
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      whitebackground: {
        backgroundColor: 'white'
      }
    };
  },
  methods: {
  },
  components: {
    SearchBar,
    Navigation,
    DataSetInfo
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}
</style>
