<template>
<div>
  <navigation></navigation>
  <b-container>
    <b-row>
      <b-col >
        <search-bar></search-bar>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
// @ is an alias to /src
import Navigation from "@/components/Navigation";
import SearchBar from "@/components/SearchBar";

export default {
  name: "SearchPage",
  components: {
    SearchBar,
    Navigation
  }
};
</script>

<style lang="scss" scoped>
.worldBackground {
  background: url(../assets/images/world-background.jpg) no-repeat;
}
</style>