<template>
<div>
  <div>
  <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')'}" >
    <b-row no-gutters>
      <b-col>
        <navigation></navigation>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col>
        <search-bar class="mt-5 mb-5" :tags=tags v-on:searchTags=setSearchTags></search-bar>
      </b-col>
    </b-row>
  </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
    <b-container >
      <b-row class="mb-3">
        <b-col cols="10">
          <most-used-topics></most-used-topics>
        </b-col>
      </b-row>
      <b-row class="">
        <b-col cols="3">
          <filter-builder></filter-builder>
        </b-col>
        <b-col cols="9">
          <search-results-table :tags=tags></search-results-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
</template>

<script>
import FilterBuilder from '@/components/FilterBuilder';
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import SearchResultsTable from '@/components/SearchResultsTable';
import MostUsedTopics from '@/components/MostUsedTopics';
import DataSetSourcesInfo from '@/components/DataSetSourcesInfo';
export default {
  name: "SearchResults",
  props: {
    tags: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      locationSelected: [],
      whitebackground: {
        backgroundColor: 'white'
      }
    };
  },
  methods: {
    setSearchTags: function (searchTags) {
      this.searchTags = searchTags;
    }
  },
  components: {
    SearchBar,
    MostUsedTopics,
    Navigation,
    SearchResultsTable,
    FilterBuilder
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}
</style>