<template>
  <div>
    <p class="instructions">We source our Data Set from <span v-for="source in sources" :key=source>{{ source }},  </span>
    </p>
  </div>
</template>

<script>
export default {
  name: "Main",
  props: {
    // sources: {
    //   type: Array,
    //   required: false,
    //   default:
    // }
  },
  data () {
    return {
      sources: ['opendatani.gov.uk', 'data.gov.ie']
    };
  },
  methods: {
  },
  components: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.instructions {
  font-size: 0.8rem;
  text-align: center;
}

</style>
