<template>
  <b-container>
    <b-row>
      <b-col>
        Education
      </b-col>
      <b-col>
        Last Updated
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "DataSetPage",
  props: {
    id: {
      type: String,
      required: false
    }
  },
  data () {
    return {
    };
  },
  methods: {
    getDataSetInformation: function () {
      //axios.get();
    }
  },
  components: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
