<template>
  <b-card>
    <b-container>
      <b-row>
        <b-col>
          <label class="category">{{dataSetInfo.category}}</label>
        </b-col>
        <b-col  cols="2">
          <label class="updatedAt">{{ updatedAt }} </label>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="10">
          <b-row>
            <b-col>
              <label class="title">{{dataSetInfo.title}}</label>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <label class="description">{{dataSetInfo.description}}</label>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="10">
        </b-col>
        <b-col cols="2">
          <b-button id="exploreButton" size="sm" variant="dark" class="exploreButton" @click="explore">Explore Data <font-awesome-icon :icon="['fas', 'chevron-right']" class="icon alt"/></b-button>
      </b-col>
      </b-row>
    </b-container>
  </b-card>
</template>

<script>
import { convertEpochToDate } from './common/date.js';
export default {
  name: "DataSetCard",
  props: {
    dataSet: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    };
  },
  methods: {
    convertEpochToDate: convertEpochToDate,
    explore: function (){
      // console.log('exploring');
      this.$router.push({ name: 'dataset', params: {id: '1'}});
      // var win = window.open(this.dataSetInfo.dataset_link, '_blank');
      // win.focus();
    }
  },
  computed: {
    dataSetInfo: function () {
      return this.dataSet._source;
    },
    updatedAt: function () {
      return this.convertEpochToDate(this.dataSetInfo.updated_at);
    }

  },
  components: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$grey: #a1a1a1;
$brownish-grey: #606060;

.title {
  font-weight: 700;
}

.description {
  color: $brownish-grey;
  font-size: 0.7rem;
  text-overflow: ellipsis;
}

.category {
  float: left;
  font-size: 0.7rem;
  text-decoration: underline;
  color: $grey;
}

.updatedAt {
  float: right;
  font-size: 0.7rem;
  color: $brownish-grey;
}

.exploreButton {
  font-weight: 700;
}

.card-body {
  padding: 0.5rem;
}

</style>
