<template>
   <div>
     <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Organizations" :filterEvent=FILTER_ORGANIZATIONS></filter-card>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Sources" v-bind:filterEvent="FILTER_SOURCES"></filter-card>
      </b-col>
    </b-row>
   </div>
</template>

<script>

import FilterCard from '@/components/FilterCard';
import { FILTER_SOURCES, FILTER_ORGANIZATIONS } from '@/events.js';
// import * as m from '@/events.js';
export default {
  name: "FilterBuilder",
  props: {
  },
  data () {
    return {
      FILTER_SOURCES: FILTER_SOURCES,
      FILTER_ORGANIZATIONS: FILTER_ORGANIZATIONS
    };
  },
  methods: {
  },
  computed: {
  },
  components: {
    FilterCard
  },
  mounted: function () {
  },
  watch: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
