<template>
   <div role="tablist">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-container>
          <b-row>
            <b-col cols="10">
              <span>{{ title }}</span>
            </b-col>
            <b-col cols="2">
              <span v-b-toggle="title">
                <span class="when-opened"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <span class="when-closed"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </span>
            </b-col>
          </b-row>
        </b-container>
      </b-card-header>
      <b-collapse :id="title" visible role="tabpanel"> <!-- Added if you want the filter boxes to react together. accordion="my-accordion" -->
        <b-card-body>
          <b-container>
            <b-row v-for="filter in filters" :key=filter no-gutters>
              <b-col cols="11">
                <label :for=filter>{{ filter }}</label>
              </b-col>
              <b-col cols="1">
                <input type="checkbox" class="centerCheckbox" :id=filter :value=filter v-model="selected">
              </b-col>
            </b-row>
          </b-container>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "FilterCard",
  props: {
    title: {
      type: String,
      required: false,
      default: 'Marks House',
    },
    filters: {
      type: Array,
      required: false,
      default: function () {
        return  ['Belfast','Galway','Dublin','Cork'];
      }
    },
    filterEvent: {
      type: String,
      required: true,
    }
  },
  data () {
    return {
      selected: []
    };
  },
  methods: {
  },
  computed: {

  },
  components: {
  },
  mounted: function () {
  },
  watch: {
    selected: function () {
      this.$events.$emit(this.filterEvent, this.selected);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.card-header {
  background-color: #e3e3e3;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.card-body {
  padding: 0.25rem;
}

.container {
  padding: 0px 5px;
}

.centerCheckbox {
  margin: 0 auto;
  width: 100%;
}
</style>
