<template>
<div>
  <label>Most Used Topics</label>
  <div>
    <b-badge v-for="topKeyword in topKeywords" :key=topKeyword variant="primary">{{ topKeyword }}</b-badge>
  </div>
</div>
</template>

<script>
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  mixins: [elasticSearchMixin],
  name: "MostUsedTopics",
  props: {
    topics: {
      type: Array,
      required: false,
      default: () => {
        return [];
      }
    }
  },
  data () {
    return {
      // topKeywords holds the standard values that are displayed for the mostUsedTopics class in case the index is empty.
      topKeywords: ['politics', "news", "education"]
    };
  },
  methods: {
    /**
     * This method searches in ElasticSearch under the index "queries" to retrieve a bucket of results with popular keywords.
     */
    setMostUsedKeywords: function () {
      this.mostUsedKeywords().then ((response) => {
        var buckets = response.aggregations.keywords.buckets;

        //If 'Most Used Topics' aren't displaying properly, check buckets.sort()
        buckets.sort(function(a, b){ return a.doc_count < b.doc_count; });

        this.setPopularKeywords(buckets);
      }).catch ((error) => {
        console.log(error);
      });
    },
    /**
     * This for places the top three keys into a
     * global variable called topKeywords
     */
    setPopularKeywords: function (buckets) {
      for( var index = 0; index < 3; index++) {
        this.$set(this.topKeywords, index, buckets[index].key);
      }
     }
  },
  components: {
  },
  mounted: function () {
    this.setMostUsedKeywords();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
span {
    margin-right: 10px;
}

</style>
