<template>
  <b-navbar id="navigation" toggleable="md" type="dark">
    <b-navbar-brand href="/">
       <img  src="~@/assets/images/logo.svg" />
    </b-navbar-brand>
    <b-navbar-nav>
      <b-nav-item href="#" disabled>How it works</b-nav-item>
      <b-nav-item href="#" disabled>About</b-nav-item>
      <b-nav-item href="#" disabled>Support</b-nav-item>
      <b-nav-item href="#" disabled>Contact</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  name: "Navigation",
  props: {
  },
  data () {
    return {
      version: '0.05'
    };
  },
  methods: {
  },
  components: {
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
