<template>
  <b-container>
    <b-row>
      <b-col>
        <p class="datasetInfo">Search for Topics in over {{ numberOfDatasets }} Data Sets</p>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col cols="9">
        <tags-input id="searchTags" element-id="tags" v-model="selectedTags" :existing-tags=categories  :typeahead="true" :placeholder=placeholder typeahead-style="dropdown"></tags-input>
      </b-col>
      <b-col offset="1" cols="2">
        <b-button id="search" size="lg" variant="success" class="searchButton" @click="search" :disabled="selectedTags.length == 0" >
          Search Data Times
          <font-awesome-icon :icon="['fas', 'chevron-right']" class="icon alt"/>
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  mixins: [elasticSearchMixin],
  name: "SearchBar",
  props: {
    tags: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    }
  },
  data () {
    return {
      host: process.env.VUE_APP_DB,
      results: [],
      searchText: '',
      numberOfDatasets: 0,
      selectedTags: this.tags,
      placeholder: 'Please enter your topic',
      categories: {}
    };
  },
  methods: {
    search: function () {
      this.$router.push({name: 'searchresults', query: { tags: this.selectedTags }});
      return process.env.VUE;
    },
    setNumberOfDatasets: function () {
      return this.getIndexStats('dni').then(response => {
        this.numberOfDatasets = response._all.primaries.docs.count;
      });
    },
    setCategories: function () {
      this.uniqueListForField('category').then(response => {
        var category_object = {};
        var buckets = response.aggregations.unique_field.buckets;
        buckets.forEach(element => {
          category_object[element.key]= element.key + ' (' + element.doc_count+ ')';
        });
        this.categories = category_object;
      }).catch((error) => {
        console.log('Error getting categories');
        console.log(error);
      });
    }
  },
  computed: {
  },
  mounted: function () {
    this.setNumberOfDatasets();
    this.setCategories();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

.searchButton {
  font-weight: 600;
}

.datasetInfo {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.tags-input-badge {
    padding: 0.4em 0.8em;
    font-size: 100%;
    font-weight: 100;
    background-color: #3282cd;
    color: white;
}

.tags-input-remove:before, .tags-input-remove:after {
    background: white;
}

</style>
