<template>
  <div>
    <v-wait for="my list is to load">
    <template slot="waiting">
      <div>
        <p>Loading the list...</p>
      </div>
    </template>
    <label class="title">Your Results Total Found {{ totalFound }}</label>
    <div v-if="shortResults.length>0">
      <div v-bind:style="[autoScroll]" class="mb-2">
        <data-set-card class="mb-1" v-for="result in shortResults" :key=result :dataSet=result ></data-set-card>
      </div>
      {{ organizations }}
      <b-pagination v-if="results.length > perPage" size="md" :total-rows="results.length" v-model="currentPage" :per-page=perPage>
      </b-pagination>
    </div>
    <div v-else>
      <p>No Results</p>
    </div>
    </v-wait>
  </div>
</template>

<script>
import DataSetCard from './DataSetCard';
import axios from 'axios';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
import { FILTER_SOURCES, FILTER_ORGANIZATIONS } from '@/events.js';
export default {
  mixins: [elasticSearchMixin],
  name: "SearchResults",
  props: {
    tags: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      currentPage: 1,
      perPage: 2,
      host: process.env.VUE_APP_DB,
      results: [],
      categories: [],
      sources: [],
      organizations: [],
      autoScroll: {
        overflowX: 'auto',
        height: '48vh'
      }
    };
  },
  computed: {
    shortResults: function () {
      return this.results.slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage);
    },
    totalFound: function () {
      return this.results.length;
    }
  },
  methods: {
    search: function() {
      this.$wait.start('my list is to load');
      this.queryCategoryResults(this.tags,this.sources,this.organizations).then(response => {
        this.results = response.hits.hits;
        this.$wait.end('my list is to load');
      }).catch((error) => {
        this.$wait.end('my list is to load');
      });
    },
    filterListeners: function () {
      console.log('Setting results');
      this.$events.$on(FILTER_SOURCES, function (eventData) {
        this.sources = eventData;
        this.search();
        console.log(eventData);
      });
      this.$events.$on(FILTER_ORGANIZATIONS, eventData => {
        this.organizations = eventData;
        this.search();
        console.log(eventData);
      });
    }
  },
  watch: {
    tags: function () {
      this.search();
    }
  },
  components: {
    DataSetCard: DataSetCard
  },
  mounted: function () {
    this.filterListeners();
    this.search();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
  font-weight: 700;
}
</style>
